section {
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

table, thead, tbody {
    width: 100%;
    border-collapse: collapse;
}

tr, th {
    border-bottom: 1px solid black;
}

th, td {
    text-align: left;
    padding: 0.25em;
}

td {
    vertical-align: top;
}

tr:last-child {
    border-bottom: none;
}