@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$utilities: (
        "justify-self": (
                property: justify-self,
                class: justify-self,
                values: (stretch, center, start, end)
        )
)